<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="workstation.zjyk.line">
    <!-- <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/> -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".ui.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/NavigationTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity
            android:name="cn.com.ethank.mylibrary.resourcelibrary.common_util.crash.BugReportActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.ReciverMakeSureDialogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".ui.activity.StationRequireActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".ui.activity.MaterailBillActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".ui.activity.ActivityLogin"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.DeliveryDialogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".ui.activity.ExceptionDeliveryDialogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogStyle" />
        <activity
            android:name=".ui.activity.PdfReadDialogActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.activity.TrayInfoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/MyDialogStyle" />

        <receiver android:name="cn.com.ethank.mylibrary.resourcelibrary.netstatus.NetworkConnectChangedReceiver" />
        <service
            android:name="workstation.zjyk.workstation.HeartBeatService"
            android:process=":remote" />
    </application>

</manifest>